
:root {
    --primary-color: #D98A54;
    --secondary-color: #6C8C3B;
    --notificationscta: #F3C650;
    --primary-background-color: #F1EDE4;
    --secondary-background-color: #EFEFEF;
    --primary-text-color: #2c2c2c;
    --secondary-text-color: #9E9E9E;
    --primary-font: 'Nunito', monospace;
    --secondary-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box; 
    font-family: var(--primary-font);
}

body {
    margin: 0;
    padding: 30px 100px;
    background-color: var(--primary-background-color);
}

.settings__avatar-section {
    display: flex;
    padding: 0 22.246px;
    justify-content: space-between;
    align-items: center;
    border-radius: 22.246px;
    background: #FFFFFF;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 16.685px;
    background-color: #FFFFFF;
}

.avatar__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(180deg, var(--primary-color) 0%, #C97A44 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
}

.avatar__edit-button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.settings__header {
    font-size: 20px;
    font-weight: 600;
    color: #4b4b4b;
    margin-top: 50px;
}

.settings__quick-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 13.28px;
    justify-content: space-between;
}

.settings__quick-actions-card {
    margin: 22px 0 13.28px;
    padding: 20px 30px;
    width: 49%;
    border-radius: 19.924px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.analytics-card {
    background-color: var(--secondary-color);
}

.share-card {
    background-color: var(--primary-color);
}

.reminder-card {
    background-color: var(--notificationscta);
}

.analytics2-card {
    background-color: #FFFFFF;
}

.quick-actions-card__icon--primary {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 24px;
}

.quick-actions-card__icon--secondary {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 24px;
}

.quick-actions__title {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
}

.quick-actions__subtitle {
    font-size: 16px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.70);
}

.neutral-title {
    color: #4b4b4b;
}

.neutral-subtitle {
    color: var(--secondary-text-color);
}

.account__items {
    margin-top: 30px;
    background-color: #FFFFFF;
    border-radius: 22.246px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.account__item {
    display: flex;
    padding: 0 22.249px;
    align-items: center;
    background-color: #FFFFFF;
    gap: 20px;
    border: none;
    cursor: pointer;
}

.account__item__icon--primary {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(217, 138, 84, 0.10);
    color: var(--primary-color);
    font-size: 30px;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.account__item__icon--secondary {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(108, 140, 59, 0.10);
    color: var(--secondary-color);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account__item__icon--neutral {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(243, 198, 80, 0.08);
    color: var(--notificationscta);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account__item__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
} 

.account__item__title {
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 600;
}

.account__item__subtitle {
    margin: 0;
    line-height: 1.2;
    font-size: 16px;
}

.ph-caret-right {
    margin-left: auto;
    color: var(--secondary-text-color);
    font-size: 24px;
}

.switch {
    margin-left: auto;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--secondary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.settings__logout-button {
    display: flex;
    margin: 40px auto 0;
    padding: 24px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8.545px;
    border: 1.709px solid rgba(217, 138, 84, 0.20);
    border-radius: 17.089px;
    background: #FFFFFF;
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.version-type {
    margin: 40px auto 0;
    text-align: center;
    color: var(--secondary-text-color);
    font-size: 16px;
}