@import "tailwindcss";

:root {
  --primary-color: #d98a54;
  --secondary-color: #6c8c3b;
  --notifications-cta: #f3c650;

  --primary-background-color: #f1ede4;
  --secondary-background-color: #efefef;

  --primary-text-color: #2c2c2c;
  --secondary-text-color: #9e9e9e;

  --primary-font: "Nunito", monospace;
  --secondary-font: "Poppins", sans-serif;

  --custom-shadow:
    0px 2.78px 5.56px -2.78px #0000001a, 0px 2.78px 8.34px 0px #0000001a;
}

@theme {
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-notifications: var(--notifications-cta);

  --color-bg-primary: var(--primary-background-color);
  --color-bg-secondary: var(--secondary-background-color);

  --color-text-primary: var(--primary-text-color);
  --color-text-secondary: var(--secondary-text-color);

  --font-primary: var(--primary-font);
  --font-secondary: var(--secondary-font);

  --drop-shadow: var(--custom-shadow);
}

@layer components {
  .active-tab {
    color: var(--color-primary);
  }
}
